<h4 class="mt-5">Products between: ${{ min }} - ${{ max }}</h4>
<div class="row flex-row flex-wrap">
    {% for product in products %}
        <div class="col-md-4 col-lg-3 mr-2 mb-2">
            <a href="http://localhost:8000/products/{{ product.id }}" class="product-link">
                <div class="card product-card">
                    <div class="card-header">
                        <h6 class="card-title">{{ product.name }}</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Price: ${{product.price}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>