{% for category in categories %}
<h4 class="mt-5">{{ category.name }}</h4>
<div class="row flex-row flex-nowrap product-bar">
    {% for product in category.products.all %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a href="http://localhost:8000/products/{{ product.id }}" class="product-link">
                <div class="card product-card">
                    <div class="card-header">
                        <h6 class="card-title">{{ product.name }}</h6>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Price: ${{product.price}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endfor %}



{% for category in categories %}
<h2 class="mt-5">{{ category.name }}</h2>
<div class="row flex-row flex-wrap product-bar">
    {% for product in category.products.all %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card product-card mr-2">
                    <a href="http://localhost:8000/products/{{ product.id }}" class="product-link">
                        {% if product.images.all %}
                            <img src="{{ product.images.all.0.image.url }}" alt="" class="card-img-top main-card-image">
                        {% else %}
                            <img src="https://via.placeholder.com/75" alt="" class="card-img-top main-card-image">
                        {% endif %}
                        <h6 class="card-title mt-2 p-1 text-center">{{ product.name }}</h6>
                    </a>
                    <div class="card-body">
                        <p class="card-text">Price: ${{product.price}}</p>
                    </div>
                </div>
        </div>
    {% endfor %}
</div>
{% endfor %}
