<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your Cart</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'user/css/cart.css' %}">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-expand-md fixed-top navbar-dark bg-dark border-bottom shadow-sm p-0">
        <a href="http://localhost:8000" class="navbar-brand col-md-2 mr-0">E-Commerce</a>
        <input type="text" name="item_search" id="item_search" class="ml-1 form-control form-control-dark" placeholder="Search...">
        <ul class="navbar-nav px-3">
            <li class="nav-item">
                <a href="" class="nav-link">History</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Account</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link mr-5">Cart</a>
            </li>
            <li class="nav-item text-nowrap">
                <a href="" class="nav-link">Logout</a>
            </li>
        </ul>
    </nav>
        
    
    <div class="container" id="main-content">

        <div class="row">

            <div class="col-7" id="cart-table">

                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col" nowrap>Product Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    {% for product in cart_products %}
                            <tbody>
                                <tr>
                                    <td>
                                        {% if product.product.images.all %}
                                            <img src="{{ product.product.images.all.0.image.url }}" alt="" class="img-responsive table-image">
                                        {% else %}
                                            <img src="https://via.placeholder.com/150" alt="" class="img-responsive table-image">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">
                                        <a href="http://localhost:8000/products/{{ product.product.id }}">{{ product.product.name }}</a>
                                    </td>
                                    <td class="align-middle">{{ product.product.short_description }}</td>
                                    <td class="align-middle">${{ product.product.price }}</td>
                                    <td class="align-middle">
                                        <a href="http://localhost:8000/cart/delete/{{ product.product.id }}" class="delete-link"><i class="far fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                    {% endfor %}
                </table>

            </div>

            <div class="col-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Order Summary</h4>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Grand Total: </td>
                                    <td>$100</td>
                                </tr>
                                <tr>
                                    <td>Shippping Charge:</td>
                                    <td>$25</td>
                                </tr>
                                <tr>
                                    <td>Estimated Tax:</td>
                                    <td>$19.22</td>
                                </tr>
                                <tr>
                                    <td>Total:</td>
                                    <td>$1458.3</td>
                                </tr>
                            </tbody>
                        </table>
                        <a href="http://localhost:8000/checkout" class="btn btn-success">Checkout <i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</body>
</html>